{erl_opts, []}.

{deps, [
   datum,
   {pipe, "2.0.1", {pkg, pipes}},
   jsx,

   {erlcloud, ".*",
      {git, "https://github.com/fogfish/erlcloud", {branch, master}}
   },

   {m_http, ".*",
      {git, "https://github.com/fogfish/m_http", {branch, master}}
   }
]}.

{profiles, [
   {test, [{deps, [meck]}]}
]}.
