{erl_opts, []}.

{deps, [
   {datum,     "4.6.0"}
,  {pipe,      "2.0.1",    {pkg, pipes}}
,  {erlcloud,  "3.2.7"}
,  {m_http,    "0.2.1"}
,  {jsx,       "2.10.0"}
]}.

{profiles, [
   {test, [{deps, [meck]}]}
]}.

%%
%%
{plugins                , [coveralls]}.
{cover_enabled          , true}.
{cover_export_enabled   , true}.
{coveralls_coverdata    , "_build/test/cover/ct.coverdata"}.
{coveralls_service_name , "travis-ci"}.
