{erl_opts, []}.

{deps, [
   {serverless, {path, "../../"}}
]}.

{profiles, [
   {test, [{deps, [meck]}]}
]}.

{plugins, [
   rebar3_path_deps
]}.

%%
%% Note
%%  Enable networking: -name helloworld -setcookie helloworld 
{escript_main_app       , helloworld}.
{escript_emu_args       , "%%! -name helloworld -setcookie helloworld -smp -sbt ts +A10 +K true\n"}.
{escript_incl_apps      , [serverless]}.
