{erl_opts, []}.

{deps, [
   {serverless, ".*",
      {git, "https://github.com/fogfish/serverless", {branch, master}}
   }
]}.

{profiles, [
   {test, [{deps, [meck]}]}
]}.

%%
%%
{escript_main_app       , helloworld}.
{escript_emu_args       , "%%! -smp -sbt ts +A10 +K true\n"}.
{escript_incl_apps      , [serverless]}.
