{erl_opts, []}.

{deps, [
   {serverless, {path, "../../"}}
]}.

{profiles, [
   {test, [{deps, [meck]}]}
]}.

{plugins, [
   rebar3_path_deps
]}.

%%
%%
{escript_main_app       , ec2}.
{escript_emu_args       , "%%! -name ec2 -setcookie ec2 -smp -sbt ts +A10 +K true\n"}.
{escript_incl_apps      , [serverless]}.
